@import "https://fonts.googleapis.com/css?family=Lato:100";
@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap";


:root{
  font-size: 16px;
  font-family: "Lato", Arial, sans-serif, "Josefin Sans";
  font-weight: bold;
  --transition-speed: 600ms;

}
main{
  margin: 20px;
}
.res{
  padding-left:290px;
}
.header {
  padding: 1px; 
  text-align: center; 
  background: #D6EAEF; 
  color: #676767; 
}
.header h1{
  font-weight: bold;
  font-family: "Josefin Sans";
  font-size: 40px;
}
h1 {
  font-size: 25px;
}
body {
  background-color: #FFF;
}
.topnav {
  background-color: #D6EAEF;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #676767;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 20px;
  
}
.nav-item:first-child {
	float: left;
	font-weight: bold;
  font-size: 30px;
}
.topnav a:hover {
  background-color: rgb(207, 225, 228);
  color: #575656;
}


.container{
  text-align:center;
}
#text .subtitle {
	margin-bottom:40px;
}



#education-title img {
	width: 15%;
}

#school {
	align-items: flex-start;
}

#school p {
	font-size: 14px;
}

#school * {
	margin: 5px;
}

#coursework {
	align-items: flex-start;
	font-size: 120%;
}

li {
	margin: 5px;
  text-align: left;
}

ul {
	list-style-type: circle;
}
.container {
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}
#me {
  width: 300px;
  border-top: 20px solid #e5e5e5;
	box-shadow: 12px 12px 1px #D6EAEF;
	overflow-y:hidden;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #D6EAEF;
  position: relative;
	height: 300px;
	width: 350px;
	margin: 3%;
}
.card-title{
  background-color:#676767;
  color: #FFF;
}

.card-body{
  margin-left:10px;
  margin-right: 10px;
}

@media screen and (max-width: 320px) {
  #somethingorother {
    width: 120px ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  #somethingorother {
    width: 320px ;
  }
}
@media screen and (min-width: 481px) {

  #somethingorother {
    width: 480px ;
  }
}
iframe{
  width: 300px;
  height:350px;
  padding-left: 10rem;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FFFBF0;
}


::-webkit-scrollbar-thumb {
  background: rgb(186, 210, 216);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(159, 178, 182);
}
